@page
@model IndexModel
@{
    ViewData["Title"] = "Home page of the WebApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Coucou je suis un paragraphe HTML.</p>
    <h1>Et moi je suis un H1.</h1>
    <p> modif sur feature</p>
    <p>Test commit pipeline</p>
    <h2>Ajout branche feature, puis commit push sur Azure DevOpsXYZEUSGYIOEazeertyu</h2>
    <p>PICKABOOOO feat A</p>
    
</div>
